.formContainer {
  margin-top: 1rem;

  label {
    display: block;
  }

  .pTag {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .inputField,
  .textField,
  .fileField {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  .selectField {
    margin-top: 1rem;
    padding: 0.25em;
    border: 0;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    letter-spacing: 0.15em;
    border-radius: 0;
    &:focus,
    &:active {
      outline: 0;
      border-bottom-color: red;
    }
  }

  .postBtn {
    background: none;
    border: none;
    height: 2.5rem;
    font-size: 1.2rem;
    width: 100%;
    background: #1890ff;
    margin-top: 1rem;
    color: #fff;
    cursor: pointer;
  }
}
