.formContainer {
  margin-top: 1rem;

  label {
    display: block;
  }

  .pTag {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .inputField,
  .textField,
  .fileField {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  .checkbox {
    margin-top: 1rem;
  }

  .postBtn {
    background: none;
    border: none;
    height: 2.5rem;
    font-size: 1.2rem;
    width: 100%;
    background: #1890ff;
    margin-top: 1rem;
    color: #fff;
    cursor: pointer;
  }
}
